body{
    background-color: beige;
}
.main{
    display: grid;
    grid-template-columns:1fr 0.5fr ;
    align-items: center;
    column-gap: 3px;
    
}
.daniel{
display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: blueviolet;
}
.Whittle{
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: auto;

}